<div class="footer-info bg-dark text-secondary">
    <div class="owner">
        Games Library Created By Abdelrahman Gamal using &copy; 
        <a target="_blank" href="https://rawg.io/">R A W G</a> API
    </div>
    <div class="icons-section">
        <ul class="icons-list">
            <li class="icon">
                <a target="_blank" href="https://github.com/AbdelrahmanGamal44"><i class="bi bi-github"></i></a>
            </li>
            <li class="icon">
                <a target="_blank" href="https://www.linkedin.com/in/abdelrahman-gamal-286b991a9/">
                    <i class="bi bi-linkedin"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
